<div class="container">
    <p>
        Jornada de Trabalho</p>
    <!-- <ul>
    <li *ngFor="let pessoa of pessoas">{{pessoa}}</li>
</ul> -->
    <!-- <h1>Entrar</h1>
    <label for="email">Email</label>
    <input type="email" (input)="dataUser.email=$event.target.value">
    <br>
    <label for="senha">Senha</label>
    <input type="password" (input)="dataUser.senha=$event.target.value">
    <br>
    <button (click)="verifyLogin()">Entrar</button>
    <p>{{respostaLogin}}</p>
    <input type="checkbox"><span>Lembrar-me</span>

    <a [routerLink]="['criar/conta']">Criar conta</a>
    <a>Recuperar senha</a> -->
</div>